.hero {
    position: relative;
    width: 100%;
    min-height: 85vh;
    overflow: hidden;
    border-radius: 10px;
}

.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    text-align: center;
    color: #fff;
    max-width: 800px;
}

.hero-subtitle {
    font-size: 20px;
    letter-spacing: 2px;
    opacity: 0.9;
}

.hero-content h1 {
    font-size: 48px;
    line-height: 1.3;
    margin: 0 0 5px;
    font-weight: 700;
}

.hero-text {
    font-size: 20px;
    line-height: 1.7;
    margin: 0 auto 40px;
    opacity: 0.95;
    max-width: 600px;
}

.hero-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.btn-secondary-more {
    padding: 10px 30px;
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    transition: all 0.3s ease;
}

.btn-secondary-more:hover {
    background: #fff;
    color: #111;
    transform: translateY(-3px);
}

.second-banner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin: 50px 0;
  background-color: #ffffff;
  padding: 30px 0px;
  border-radius: 12px;
  border: 1px solid #eceff1;
}

.perk-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.perk-icon {
  font-size: 2rem;
  color: var(--primary);
  flex-shrink: 0;
}

.perk-card h4 {
  font-size: 1.05rem;
  color: var(--dark);
  margin-bottom: 4px;
}

.perk-card p {
  font-size: 0.85rem;
  color: #6c757d;
}



@media (max-width: 955px) {
    .hero-content h1 {
        font-size: 35px;
    }
    .hero-text {
        font-size: 15px;
        font-weight: 600;
    }
}


@media (max-width: 735px) {
    .hero-content h1 {
        font-size: 29px;
    }
    .hero-subtitle {
       font-size: 12px;
       font-weight: 600;
    }

    .hero-text {
        font-size: 10px;
    }
}
