@import './footer.css';
@import './reset.css';
@import './header.css';
@import './banner.css';
@import './notfound.css';

body {
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
  color: var(--dark);
  background-color: #ffffff;
}

main {
  min-height: 80vh;
}
